<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :facebook, class: 'control-label' %>
    <%= f.text_field :facebook, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :twitter, class: 'control-label' %>
    <%= f.text_field :twitter, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :google_plus, class: 'control-label' %>
    <%= f.text_field :google_plus, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :homepage, class: 'control-label' %>
    <%= f.url_field :homepage, class: "form-control" %>
  </div>
</div>
