<div class="row">
  <div class="form-group col-md-6">
    <%= f.label :username, class: 'control-label' %>
    <%= f.text_field :username, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :email, class: 'control-label' %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :password, class: 'control-label' %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it',
                :default => "leave blank if you don't want to change it") %>)</i>
    <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <%= f.password_field :password_confirmation, class: "form-control"  %>
  </div>
</div>
