<ul class="list-group">
  <% comments.each do |comment| %>
    <li class="list-group-item comment">
      <div class="comment-body">
        <%= markdown(comment.body) %>
      </div>
      <div class='small' class="comment-meta">
        Posted <%= time_ago_in_words(comment.created_at) %> ago
        <% if controller.controller_name != 'users' %>
          by <%= link_to comment.user.username, comment.user %>
        <% end %>
        <% if controller.controller_name != 'posts' %>
          in <%= link_to comment.post.title, comment.post %>
        <% end %>
        <% if user_signed_in? && comment.user == current_user %>
          <div class="btn-group comment-actions">
            <%= link_to 'Edit', edit_post_comment_path(comment.post, comment),
                  class: 'btn btn-xs btn-default' %>
            <%= link_to 'Delete', post_comment_path(id: comment.id, post_id: comment.post_id),
                  class: 'btn btn-xs btn-danger',
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
